{% extends 'base.html.twig' %}
{% block title %}EDITER UN PRODUIT{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}
    <h1>EDITER</h1>
    <div class="form-container">
        {{ form_start(form) }}
        <div class="form-row">
            {{ form_label(form.reference) }}
            {{ form_widget(form.reference) }}
        </div>
        {{ form_errors(form.reference) }}
        <div class="form-row">
            {{ form_label(form.label) }}
            {{ form_widget(form.label) }}
        </div>
        {{ form_errors(form.label) }}
        <div class="form-row">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
        </div>
        {{ form_errors(form.description) }}
        <div class="form-row">
            {{ form_label(form.price) }}
            {{ form_widget(form.price) }}
        </div>
        {{ form_errors(form.price) }}
        <div class="form-row">
            {{ form_label(form.stock) }}
            {{ form_widget(form.stock) }}
        </div>
        {{ form_errors(form.stock) }}
        <div class="form-row">
            {{ form_label(form.published) }}
            {{ form_widget(form.published) }}
        </div>
        {{ form_errors(form.published) }}
        <div class="form-row">
            <label for="categories">CATEGORIES</label>
            <select name="categories" id="categories" >
                {% for categorie in categories %}
                    <option value="{{ categorie.id }}" {{ idLibelle == categorie.id ? 'selected' : '' }}> {{ categorie.libelle | upper }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="btn">
            <button class="edit" type="submit">EDIT</button>
        </div>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
