{% extends 'base.html.twig' %}
{% block title %}INFO PRODUIT{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('css/info.css') }}">
{% endblock %}
{% block body %}
    <div class="product-info">
        <div class="info-content">
            <h2>{{ product.label }}</h2>
            <div class="product-item-info">
                <h3>Reference</h3>
                <p class="mg-d1">{{ product.reference }}</p>
                <h3>Description</h3>
                <p class="mg-d1">{{ product.description }}</p>
                <h3>Prix</h3>
                <p class="mg-d1">{{ product.price }}</p>
                <h3>Stock</h3>
                <p class="mg-d1">{{ product.stock }}</p>
                <h3>Categorie</h3>
                <p class="mg-d1">{{ libelle }}</p>
                <h3>Date de creation</h3>
                <span class="mg-d1">{{ product.getDateAdd() | format_datetime('long', locale='fr') }}</span>
                <h3>Date derniere edition</h3>
                <span class="mg-d1">{{ product.getDateEdit() | format_datetime('long', locale='fr') }}</span>
            </div>
            <div class="btn-info">
                <a class="edit" href="{{ path('edit',{id: product.id }) }}">MODIFIER</a>
                <a class="edit" href="{{ path('delete',{id: product.id }) }}">SUPPRIMER</a>
            </div>
        </div>
    </div>
{% endblock %}
