<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}tp_bonus{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;700&display=swap"
              rel="stylesheet">

    {% endblock %}
</head>
<body>
<header>
    <a href="{{ path('home') }}">{{ 'ACCUEIL'| capitalize }}</a>
    <div class="menu">
        <a href="{{ path('create') }}">{{ 'CREER UN PRODUIT'  | capitalize }}</a>
        <span class="separator"></span>
        <a href="{{ path('create_categorie') }}">{{ 'CREER UNE CATEGORIE'| capitalize }}</a>
    </div>
</header>
<div class="container">
    {% block body %}
    {% endblock %}
</div>
{% block javascripts %}
    <script src="{{ asset('JS/dynamicSelect.js') }}"></script>
{% endblock %}
</body>
</html>
