{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('css/categories.css') }}">
{% endblock %}

{% block title %}CREER{% endblock %}

{% block body %}
    <div class="container-title">
        <h1>{{ 'CREER UNE CATEGORIE' | capitalize }}</h1>
    </div>
    <div class="form-container">
        {{ form_start(form) }}
        <div class="form-row">
            {{ form_label(form.libelle) }}
            {{ form_widget(form.libelle) }}
        </div>
        <div class="btn">
            <button class="edit" type="submit">AJOUTER</button>
        </div>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
    <h1>{{ 'LISTE DES CATEGORIES' | capitalize }}</h1>
    <div class="categorie-list">
            {% for categorie in categories %}
                <div class="categorie-item">
                    <p class="categorie-label">{{ categorie.libelle | upper }}</p><a class="sous-categories"
                                                                                     href="{{ path('create_sous-categorie',{id: categorie.id }) }}">AJOUTER
                        SOUS-CATEGORIE</a>
                </div>
            {% endfor %}
    </div>
{% endblock %}
