{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('css/categories.css') }}">
{% endblock %}

{% block title %}CREER{% endblock %}

{% block body %}
    <div class="container-title">
        <h1>{{ 'CREER UNE SOUS-CATEGORIE POUR' | capitalize }} {{ categorie.libelle | capitalize }}</h1>
    </div>
    <div class="form-container">
        {{ form_start(sousCatForm) }}
        <div class="form-row">
            {{ form_label(sousCatForm.libelle) }}
            {{ form_widget(sousCatForm.libelle) }}
        </div>
        <div class="btn">
            <button class="edit" type="submit">AJOUTER</button>
        </div>
        {{ form_end(sousCatForm, {'render_rest': false}) }}
    </div>
    <h1>Sous-categorie de {{ categorie.libelle | capitalize }}</h1>
    <div class="categorie-list">
            {% for sousCategorie in sousCategories %}
                <div class="categorie-item">
                    {{ sousCategorie.libelle | upper }}
                </div>
            {% endfor %}
    </div>
{% endblock %}
